{% extends 'base.html' %}


{% block content %}
<div class="container mt-5 mb-5">
    <h1>Modify</h1>
    <form method="POST" enctype="multipart/form-data"> <!--다이너리같은거 전송할땐 enctype ~~ 해야함-->
        {% csrf_token %}
        <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" disabled value={{user.username}} name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Age</label>
            <input type="number" name="age" value="{{user.age}}" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Comment</label>
            <textarea class="form-control" name="comment">{{user.comment}}</textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">UserImage</label>
            <input type="file" value="{{user.pic}}" name="userimage" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mt-4 text-end">
        <button type="submit" class="btn btn-success">정보수정</button>
        </div>
    </form>
</div>






{% endblock %}